/* General page layout, header formatting */
body {
	background-color: #444;
	color: #EEEEEE;
	font-family: Calibri, Verdana, Arial, sans-serif;
}

#header {
	font-size: 3.2em;
	font-weight: bold;
	background-color: #666;
}


/*The list of items - spacing, formatting, etc*/
table.items {
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}
td {
	border-bottom: 2px solid #888;
	padding-top: 20px;
	font-size: 2.4em;
}

/*If item is already 'gotten', give it a strikethrough*/
.item-true {
	text-decoration: line-through;
	color: #777;
}

/*sizing for the image/image cell*/
img.button {
	height: 64px;
	width: 64px;
}
td.button {
	width: 70px;
	padding-right: 8px;
}

/*overrides a default in webkit that puts huge space underneath a form*/
form {
	margin-bottom: 0em;
}


/*New text item row */
.newItemMarkerIcon, .addText {
	width: 70px;
	padding-top: 10px;
	padding-right: 2px;
	border-bottom: 0px;
}
.newText {
	padding-top: 10px;
	padding-right: 10px;
	border-bottom: 0px;
}

input {
	width: 100%;
	margin-right: 5px;
    padding-left: 5px;
	font-size: 0.8em;
    height: 1.5em;
}








	
	
	